<div class="border-2 border-black flex flex-col gap-4 px-3 py-2">
    <span class="text-2xl text-blue-500">Heroes</span>
    <span class="font-medium">Heroes description goes here</span>

    <div class="flex gap-3">
        <button mat-raised-button color="primary">javascript</button>
        <button mat-raised-button color="primary">angular</button>
        <button mat-raised-button color="primary">angularjs</button>
        <button mat-raised-button color="primary">angular 2+</button>
    </div>
</div>